.container
  .cuadrado Hola Mundo
:css
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: Arial;
}

.container {
  border: 1px solid red;
}
.container:hover .cuadrado {
  // transform: scale(2)
  // transform: scale(.5)
  transform: scale(2, .5)
}
.cuadrado {
  width: 200px;
  height: 200px;
  background-color: #7dc900;
  margin: 20px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}