%header.header
  %button#button.btn.primary Enviar notificacion
  .notification#notification
:css
  body {
    background: url("../img/caderco.png");
    background-size: 100%;
    height: 200vh;
    margin: 0;
  }

  .header {
    background: #1d3644;
    display: flex;
    height: 95px;
    justify-content: flex-end;
    padding-right: 200px;
    align-items: center;
  }
  .notification{
    color: white;
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }


  .notification:before {
    content: '\f0f3';
    font-family:"FontAwesome";
    display: block;
    
    transform-origin: center top;
  }
  .notification.notify:before {
    animation: bell 1s ease-out;
  }
  @keyframes bell {
    0% {
      transform: rotate(35deg);
    }
    
    12.5%{
      transform: rotate(-35deg);
    }
    25% {
      transform: rotate(25deg);
    }

    37.5% {
      transform: rotate(-20deg);
    }

    50% {
      transform: rotate(15deg)
    }
    62.5% {
      transform: rotate(-10deg)
    }
    75% {
      transform: rotate(5deg)
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .notification:after {
    content: attr(data-count);
    opacity: 0;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 14px;
    height: 14px;
    background-color: #ff4600;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:30%;
    right:0;
    transform: scale(.5);
    transition: .3s;
    will-change: opacity, transform;

  }
  .notification.show-count:after{
    opacity: 1;
    transform: scale(1)
  }

  .btn {
    text-align: center;
    background-color: lightgray;
    padding: .6em .8em .8em;
    border:none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -.2em rgba(0, 0, 0 , .2);
    outline:0;
    transition: .2s;
    will-change: transform;
    color: white;
  }
  .btn.primary{
    background-color: #7dc800;
  }
  .btn.warning{
    background-color: #ff463b;
  }
  .btn:active {
    transform: scale(.9);
  }

:javascript
  const $button = document.getElementById('button')
  const $bell = document.getElementById('notification')

  $button.addEventListener('click', () => {
    const count = Number($bell.getAttribute('data-count')) || 0;
    $bell.setAttribute('data-count', count + 1);
    $bell.classList.add('show-count');
    $bell.classList.add('notify');
  })

  $bell.addEventListener('animationend', () => {
    $bell.classList.remove('notify');
  })